/venv/
/.idea/.gitignore
/.idea/misc.xml
/.idea/MLBB-BuildShare.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/http/export/
*.env
*.htaccess
/bin/*/perms.py
*perms.py
/http/db/*
