@media all and (min-width: 751px){
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE ELEMENT STYLES */
html, body, header, nav, main, footer, article, section, summary{
    position: relative;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-color: #0f2b55;
  background-image: url(https://www.mobilelegends.com/img/bg.c9a48115.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
   background-attachment: fixed;
  color: #fff;
}


.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  #justify-content: center;
  #align-items: center;
  #margin: 20px;
  text-align: center;
  min-width: 500px;
  max-width: 1024px;
  margin: auto;
} 
.item-info {
  height: 100%;
  min-width: 250px;
  width: 250px;
  border: solid 3px #ccc;
  margin: 15px;
  padding: 10px;
  /* align items in the box */
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
}
.box {
  border-radius: 150px;
  height: 150px;
  width: 150px;
  border: solid 3px #ccc;
  margin: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  background-image: url("https://mlbb.site/MLBB-BuildShare/http/img/add-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
#item-container {
  display: flex;
  flex-direction: row;
  #align-items: center;
  justify-content: center;
  #flex-wrap: wrap;
  background-color: #27426a;
  border-radius: 30px;

}

#item-tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 350px;

}

.menu {
  width: 100%;
  #display: flex;
}/*END ITEM INFO*/
.item {
  height: 75px;
  width: 75px;
  border-radius: 75px;
  background-color: #F0DB4F;
  color: #000;
  float: left;
  margin: 10px;
  opacity: .9;
  overflow: hidden;
  background-size: contain; 
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: .5em;
}
.drop-targets {
  #display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin: 20px 0;
}

.build-container {
  #display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(90deg, #1e406b, #346094 50%, #1e4474);
  border-radius: 30px;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
}

.main-slots {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.optional-slots {
  align-items: center;
  margin: 20px;
  float: left;
  width: 45%
}

.build-feedback {
  margin: 0 0 0 0;
  width: 100%;
  #float: left;
}


}