/* 20220314 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE ELEMENT STYLES */
html,
body,
header,
nav,
main,
footer,
article,
section,
summary {
  position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-color: #0f2b55;
  background-image: url(https://www.mobilelegends.com/img/bg.c9a48115.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  color: #fff;
}

.bersi{
position:fixed;
top:0;
right:0;
z-index:9999;
height:75px;
width:75px;
}

#title {width:100%;background-color: #0f2b55;}

h1 {
  padding: 10px
}

h2 {
  padding: 10px
}

.container {
  height: 100vh;
  /*display: flex;
  flex-direction: column;*/
  /*justify-content: center;
  align-items: center;
  margin: 20px;*/
  text-align: center;
  /*min-width: 500px;*/
  max-width: 1024px;
  margin: auto;
}

.spacer {
  clear: both;
}

.hide {
  display: none;
}

/* HERO SELECTOR STYLES */

#hero-container {
  display: flex;
  flex-direction: row;
  /*align-items: center;
  justify-content: center;
  padding:0 0 0 50px;*/
  flex-wrap: wrap;
  background-color: #27426a;
  /*border-radius: 30px;*/
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#hero-menu {
  /*display: flex;*/
  flex-direction: column;
  width: 65%;
  margin: 0 0 10px 50px;
}

#hero-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(90deg, #1e406b, #346094 50%, #1e4474);
  color: #b2bdcc;
}

#hero-menu li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  float: left;
}

#hero-menu li a {
  display: block;
  color: #b2bdcc;
  text-align: center;
  text-decoration: none;
}

#hero-menu li a:hover {
  color: #FFF;
}

.hero {
  height: 75px;
  width: 75px;
  border-radius: 75px;
  background-color: #DBF04F;
  color: #000;
  float: left;
  margin: 10px;
  opacity: .9;
  overflow: hidden;
  background-size: contain;
}

.hero:hover {
  border: solid 3px yellow;
  box-shadow: 0 0 5px #D000FE;
  opacity: 1.0;
}

.herotip {
  font-size: 10px;
  visibility: hidden;
  width: 90px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  #padding: 5px 0;
  position: absolute;
  z-index: 99999;
  margin: 60 -45;
}

.hero:hover .herotip {
  visibility: visible;
}

#heroes {
  background-color: #27426a;
  max-height: 600px;
    overflow-y: auto;
}

div[id^='hero-tabs'] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #27426a;
}

div[id^='hero-tabs'] li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  float: left;
}

div[id^='hero-tabs'] li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

div[id^='hero-selectable'] .ui-selecting {
  #background: #CAFE40;
  opacity: 1.0;
}

div[id^='hero-selectable'] .ui-selected {
  #background: #98F314;
  border: solid 3px red;
  box-shadow: 0 0 5px #D000FE;
  opacity: 1.0;
}

div[id^='hero-selectable'] div {
  margin: 3px;
  padding: 0.4em;
  font-size: 1.4em;
  opacity: .9;
}

.hero-portrait {
  height: 250px;
  width: 250px;
  border-radius: 250px;
  border: solid 3px #ccc;
  margin: 10px;

  /* align items in the box */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;

  background-repeat: no-repeat;
  background-size: cover;
}

.hero-portrait:hover {

  border: solid 3px #000;
}

/* ITEM SELECTOR MENU */


#dropslots ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  #background: linear-gradient(90deg, #1e406b, #346094 50%, #1e4474);
  color: #b2bdcc;
}

#dropslots li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  float: left;
}

#dropslots li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

#dropslots li a:hover {
  color: #FFF;
}

/* SKILL ITEM SELECTOR STYLES */
#item-container {
  display: flex;
  flex-direction: row;
  #align-items: center;
  justify-content: center;
  #flex-wrap: wrap;
  background-color: #27426a;
  border-radius: 30px;

}

#item-tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 350px;

}

.menu {
  width: 100%;
  #display: flex;
}

.menu-items {color: #b2bdcc;}

div[id^='item-tabs'] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(90deg, #1e406b, #346094 50%, #1e4474);
  color: #b2bdcc;
}

div[id^='item-tabs'] li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  float: left;
}

div[id^='item-tabs'] li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

div[id^='item-tabs'] li a:hover {
  color: white;
}

.item {
  height: 75px;
  width: 75px;
  border-radius: 75px;
  background-color: #F0DB4F;
  color: #000;
  float: left;
  margin: 10px;
  opacity: .9;
  overflow: hidden;
  background-size: contain;
}

.item:hover {
  border: solid 3px yellow;
  box-shadow: 0 0 5px #D000FE;
  opacity: 1.0;
}

.itemtip {
  font-size: 8px;
  visibility: hidden;
  width: 90px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 99999;
  margin: 50 -45;
}

.item:hover .itemtip {
  visibility: visible;
}

.herolabel {
  font-size: 1em;
  background-color: 000;
  border-radius: 10px;
  padding: 10 20 10 20;
  margin-top: 275px;
}

.feedback2 {
  font-size: 1.4em;
}


div[id^='item-selectable'] .ui-selecting {
  #background: #FECA40;
  opacity: 1.0;
}

div[id^='item-selectable'] .ui-selected {
  #background: #F39814;
  color: white;
  border: solid 3px red;
  box-shadow: 0 0 5px #D000FE;
  opacity: 1.0;
}

div[id^='item-selectable'] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: .9;
}

div[id^='item-selectable'] div {
  margin: 3px;
  padding: 0.4em;
  font-size: 1.4em;
}

/* BLESSING ITEM SELECTOR STYLES */

.bless {
  height: 75px;
  width: 75px;
  border-radius: 75px;
  background-color: #F0DB4F;
  color: #000;
  float: left;
  margin: 10px;
  opacity: .9;
  overflow: hidden;
  background-size: contain;
}

.bless:hover {
  border: solid 3px yellow;
  box-shadow: 0 0 5px #D000FE;
  opacity: 1.0;
}

.bless:hover .itemtip {
  visibility: visible;
}

div[id^='bless-selectable'] .ui-selecting {
  #background: #FECA40;
  opacity: 1.0;
}

div[id^='bless-selectable'] .ui-selected {
  #background: #F39814;
  color: white;
  border: solid 3px red;
  box-shadow: 0 0 5px #D000FE;
  opacity: 1.0;
}

div[id^='bless-selectable'] {
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: .9;
}

div[id^='bless-selectable'] div {
  margin: 3px;
  padding: 0.4em;
  font-size: 1.4em;
}


.menu-bless {color:#ffff00;}

/* BUILD ITEM SELECTOR STYLES */
.drop-targets {
  #display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin: 20px 0;
}

.build-container {
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(90deg, #1e406b, #346094 50%, #1e4474);
  border-radius: 30px;
  /*margin-bottom: 10px;*/
  padding: 10px 0 10px 0;
}

.main-slots {
  align-items: center;
    margin: 20px;
    float: left;
}

.optional-slots {
  align-items: center;
  margin: 20px;
  float: left;

}

.build-feedback {
  margin: 0 0 0 0;
  width: 100%;
  #float: left;
}

#build-feedback {
  padding: 10px;
  text-align: left;
  width: 420px;
  margin: 0 auto;
}

#build-feedback li {
  float: none;
}


.buildtext {
  resize: none;
  font-size: 1.4em;
  font-weight: bold;
  color: #0e004d;
  width: 450px;
  height: 50px;
  background: rgb(159, 209, 183);
  background: linear-gradient(90deg, rgba(159, 209, 183, 1) 0%, rgba(215, 215, 215, 1) 46%, rgba(0, 212, 255, 1) 100%);
}

.sharebox {
  text-align: center;
}

.sharebutt {
  background-color: #70ffc1;
  border: 3px solid white;
  border-radius: 30px;
  color: black;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.sharebutt:hover {
  border: 3px solid black;
}

/* BOXES */

.box {
  border-radius: 150px;
  height: 150px;
  width: 150px;
  border: solid 3px #ccc;
  margin: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  background-image: url("https://mlbb.site/MLBB-BuildShare/http/img/add-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box_select {
  #background-color: #fff;
  color: #000;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box:hover {
  border: solid 3px #000;
}

.box-opt {
  height: 80px;
  width: 80px;
  border-radius: 80px;
  border: solid 3px #ccc;
  margin: 10px;

  /* align items in the box */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  background-image: url("https://mlbb.site/MLBB-BuildShare/http/img/add-icon.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.box-opt_select {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.box-opt:hover {
  border: solid 3px #000;
}


.highlight {
  border: solid 3px red;
  box-shadow: 0 0 10px #D000FE;
}


.closebutt {
  height: 20%;
  width: 20%;
  background-image: url(https://icons.iconarchive.com/icons/hopstarter/sleek-xp-basic/256/Close-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: .5;
}

.closebutt:hover {
  opacity: 1;
}

.slottip {
  font-size: .8em;
  width: 150;
  background-color: #000;
  visibility: hidden;
  color: #FFF;
  border-radius: 10px;
  padding: 7;
  position: absolute;
  margin: 130 -75 0;
}

.box_select:hover .slottip {
  visibility: visible;
}

.optslottip {
  font-size: .8em;
  width: 80;
  background-color: #000;
  visibility: hidden;
  color: #FFF;
  border-radius: 10px;
  padding: 7;
  position: absolute;
  margin: 75 -40 0;
}

.box_select:hover .optslottip {
  visibility: visible;
}

/*END BOXES*/

/*ITEM INFO BOX*/
.item-info {
  height: 100%;
  max-height:600px;
  min-width: 250px;
  width: 250px;
  border: solid 3px #ccc;
  margin: 15px;
  padding: 10px;
  /* align items in the box */
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  overflow-y:auto;
  overflow-x: hidden;
}

.itemicon {
  width: 100px;
  height: 100px;
  min-height:100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
}

#itemattribs {
  /*width: 100%;
    padding: 20px;
    height: 100%;*/
}

.statlabel {
  margin: 0;
}

.statvalue {
  color: #F0DB4F;
  font-weight: bold;
  padding: 10;
  margin: 0;
  min-width: 150px;
}

.attribs {
  color: #b2bdcc;
  font-weight: normal;
}

.attribs-skills {
  color: #b2bdcc;
  font-weight: normal;
  width: 100%;
}

.label {
  color: #fff;
}

/*END ITEM INFO*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: .5em;
  background-color:#000;
  z-index:-10;
}

/*MOBILE FRIENDLIER*/
@media all and (max-width: 750px) {

  #hero-menu {
    flex-direction: column;
    width: 100%;
    margin: 10px;
  }

  #item-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .optional-slots {
    align-items: center;
    margin: 20px;
    float: left;
    width: 100%
  }

  .build-feedback {
    margin: 0 0 0 0;
    width: 100%;
    float: left;
  }


}

@media all and (max-width: 930px) {
  .herolabel {
    font-size: 1em;
    background-color: 000;
    border-radius: 10px;
    padding: 10 20 10 20;
    margin-top: 235px;
  }
}



/*HTML2CANVAS EXPORTABLE*/
.exp-container {
  display: flex;
  flex-direction: column;*/
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
  /*min-width: 500px;*/
  max-width: 1024px;
  margin: auto;
}
#export {
  display: none;
}

.export {
  padding: 10 0 0 5;
  width: 950px;
  max-height: 200px;
  background: url(https://www.mobilelegends.com/img/bg.c9a48115.png);
  background: rgb(13, 30, 55);
  background: linear-gradient(90deg, rgba(13, 30, 55, 1) 0%, rgba(44, 76, 125, 1) 28%, rgba(73, 114, 173, 1) 48%, rgba(43, 74, 120, 1) 64%, rgba(13, 30, 55, 1) 100%);

}

.exp-hero {
  width: 150px;
  float: left;
}

#exp-hero-name {
  font-size: 1em;
  background-color: 000;
  border-radius: 10px;
  padding: 5 10 5 20;
}


#exp-port {
  height: 150px;
  border: solid 3px white;
  width: 150px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  margin: 0 20px 0 0;

}

.exp-build {
  float: left;
  /*background-color: #00FF00;*/
  /*width: 650px;*/
  height: 200px;
  padding-top: 20px;
}

.exp_main-slots {
  align-items: center;
    margin: 20px;
    float: left;
}

.exp_box {
  border-radius: 150px;
  height: 95px;
  width: 95px;
  border: solid 3px #ccc;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  background-image: url("https://mlbb.site/MLBB-BuildShare/http/img/add-icon.png");
  background-color: #0f2b55;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exp_box_select {
  #background-color: #fff;
  color: #000;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exp_slottip {
  font-size: .8em;
  width: 100;
  background-color: #000;
  color: #FFF;
  border-radius: 10px;
  padding: 7;
  position: absolute;
  margin: 95 -50 0;
}

.exp-opt {
  float: left;
  #background-color: #ff0000;
  width: 70px;
  height: 200px;
}


.exp_box-opt {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: solid 3px #ccc;
  margin: 15 0 15 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  background-image: url("https://mlbb.site/MLBB-BuildShare/http/img/add-icon.png");
  background-size: cover;
}

#exp-bless-slot {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: solid 3px #ccc;
  margin: 60 0 0 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  background-image: url("https://mlbb.site/MLBB-BuildShare/http/img/add-icon.png");
  background-size: cover;
  visibility: hidden;
}


.exp_optslottip {
  font-size: .5em;
  width: 80;
  background-color: #000;
  color: #FFF;
  border-radius: 10px;
  padding: 5;
  position: absolute;
  margin:75 0 0 0;
}


/*HELP DIALOG*/
#help {
  background-color: #0f2b55;
  border-radius: 10px;
  box-shadow: 0 0 50px #000;
  padding: 30px;
}


#openhelp {
  position: fixed;
  top: 0;
  right: 0;
  background-image: url(https://icons.iconarchive.com/icons/martz90/circle-addon2/256/help-icon.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  z-index: 100;
}

#closehelp {
  background-image: url(https://icons.iconarchive.com/icons/graphicloads/100-flat/256/close-icon.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  right: -30;
  top: 0;
}

.helpimg {
  max-height: 200px;
}

.ui-dialog {
  position: fixed;
}

.ui-tabs-panel {
/*  padding: 20px;*/
}

.ui-tabs-active a {
color:#ffffff;
}